html {
  overflow-x: hidden;
  overflow-x: hidden;

}

body {
    font-family: Arial, sans-serif;
    background: #343a40;
    color: #f8f9fa;
    overflow-x: hidden;
    overflow-x: hidden;
}

code {
    padding: 2px;
    color: crimson;
    background-color: #dadada;
    border-radius: 5px;
    cursor: pointer;
}

pre {
    color: crimson;
}

.container {
    margin-top: 20px;
}

.sidebar {
    color: white;
    padding: 20px;
    height: 100%;
    position: fixed;
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.sidebar a:hover {
    background: #495057;
}

.skip {
    color: #853333;
    padding: 10px 0 10px 10px;
}

.content {
    padding: 20px;
    background-color: #f8f9fa;
    color: #343a40;
}

strong {
    font-weight: 600;
}

li {
    list-style-type: none;
}

img {
    max-width: 75vw;
    border: #343a40 3px solid;
    border-radius: 5px;
  }
  
  .detailed p {
    padding: 15px 0 0 15px;
    margin: 0;
  }

.code-block {
  width: fit-content;
  position: relative;
  background: #f8f9fa;
  border-radius: 4px;
  margin: 10px 0;
  cursor: pointer;
  transition: background 0.3s;
}

.code-block:hover {
  background: #e9ecef;
}

@media (max-width: 769px) {
    .sidebar {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: min-content;
        background: #343a40;
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
        padding: 10px 0;
        z-index: 1000;
    }

    .sidebar a {
        flex: 0 0 auto;
        padding: 10px 15px;
        color: white;
        border-right: 1px solid #495057;
    }

    .sidebar a:last-child {
        border-right: none;
    }

    .sidebar h2 {
        display: none;
    }

    .content {
      width: 100vw;
        margin-bottom: 70px;
    }
}

.copy-alert {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #28a745;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}